<!DOCTYPE html>
<html>
<head>
    <title>Results Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .badge-custom {
            background-color: #070000 !important;
            color: #ffffff !important;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center text-muted">Final Keywords:</h2>
        <div class="overflow-auto">
            <div class="d-flex flex-wrap">
                {% for keyword in final_keywords %}
                    <span class="badge badge-success badge-custom m-2 p-2">{{ keyword }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <form action="/home" method="get">
                <button type="submit" class="btn btn-dark">
                    Finalize the Keywords
                </button>
            </form>
        </div>
    </div>
</body>
</html>
